.payment-form {
    position: relative;
    list-style: none;
    margin: 0 auto;
    padding: 3rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 50px;
    background: white;

  }


  .payment-form Button {
    margin-right: 1rem;
  }

  